<template name='entrySignUp'>
  <div class="ui page grid">
    <div class="seven wide centered column">
      <div class="ui center aligned segment">

        {{#if logo}}
          <div class="entry-logo">
              <a href="/"><img src="{{logo}}" alt="logo"></a>
          </div>
        {{/if}}

        <div class="entry">
          <h3>{{t9n "createAccount"}}</h3>
      
          {{#if otherLoginServices}}
            <p class="entry-signin-cta">{{t9n "ifYouAlreadyHaveAnAccount"}} <a href="{{pathFor 'entrySignIn'}}">{{t9n "signin"}}</a>.</p>
            <div class="entry-social">
              {{#each loginServices}}
                {{> entrySocial}}
              {{/each}}
              {{#if passwordLoginService}}

              <div class="email-option">

                <strong class="line-thru">{{t9n "OR"}}</strong>
                <div class="ui accordion" >
                  <div class="title" id="signUpAccordion">
                    {{t9n "signUpWithYourEmailAddress"}}
                  </div>
                  <div class="content">

                  {{> entryError}}

                    <div class="ui form">
                    <form class="entry-form {{signupClass}}" id='signUp'>

                  {{#if showUsername}}
                    <div class="required field">
                      <div class="ui icon input">
                        <input autofocus name="username" type="string" class="form-control" value='{{username}}' placeholder="{{t9n 'username'}}">
                        <i class="user icon"></i>
                      </div>
                    </div>
                  {{/if}}

                  {{#if showEmail}}
                    <div class="required field">
                      <div class="ui icon input">
                        {{#if showUsername}}
                          <input type="email" class="form-control" value='{{emailAddress}}' placeholder="{{t9n 'email'}}">
                        {{else}}
                          <input autofocus type="email" class="form-control" value='{{emailAddress}}' placeholder="{{t9n 'email'}}">
                        {{/if}}
                          <i class="mail icon"></i>
                      </div>
                    </div>
                  {{/if}}

                    <div class="required field">
                      <div class="ui icon input">
                        <input name="password" type="password" class="form-control" value='{{password}}' placeholder="{{t9n 'password'}}">
                        <i class="lock icon"></i>
                      </div>
                    </div>        

                  {{#if showSignupCode}}
                    <div class="required field">
                      <div class="ui icon input">
                        <label>{{t9n "signupCode"}}</label>
                        <input name="signupCode" type="string" class="form-control" value=''>
                      </div>
                    </div>
                  {{/if}}

                  {{> entryExtraSignUpFields}}
                    <button type="submit" class="positive fluid ui button">{{t9n "signUp"}}</button>
                    </form>
                  </div>
                </div>
              </div>                    
            </div>
          {{/if}}
            </div>
          {{else}}
              <p class="entry-signin-cta">{{t9n "ifYouAlreadyHaveAnAccount"}} <a href="{{pathFor 'entrySignIn'}}">{{t9n "signin"}}</a>.</p>
          {{/if}}



          {{#if both}}
            <p class="entry-agreement">{{t9n "clickAgree"}}
              <a href="{{privacyUrl}}">{{t9n "privacyPolicy"}}</a> {{t9n "and"}}
              <a href="{{termsUrl}}">{{t9n "terms"}}</a>.
            </p>
          {{else}}
            {{#unless neither}}
              <p class="entry-agreement">{{t9n "clickAgree"}}
                {{#if privacyUrl}}<a href="{{privacyUrl}}">{{t9n "privacyPolicy"}}</a>.{{/if}}
                {{#if termsUrl}}<a href="{{termsUrl}}">{{t9n "terms"}}</a>.{{/if}}
              </p>
            {{/unless}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>

