<template name='entryResetPassword'>
  <div class="ui page grid">
    <div class="seven wide centered column">
      <div class="ui center aligned segment">
      {{#if logo}}
        <div class="entry-logo">
            <a href="/"><img src="{{logo}}" alt="logo"></a>
        </div>
      {{/if}}
      <div class="entry">
        {{#if error}}
          <div class='ui negative message'>{{error}}</div>
        {{/if}}
        <h3>{{t9n "resetYourPassword"}}</h3>
        <div class="ui form">
          <form id='resetPassword'>
            <div class="required field">
              <div class="ui icon input">
                <input type="password" name="new-password" class="form-control" value=''>
                <i class="lock icon"></i>
              </div>
            </div>
            <button type="submit" class="positive fluid ui button">{{t9n "updateYourPassword"}}</button>
          </form>
        </div>
        {{#if showSignupCode}}
          <p class="entry-signup-cta">{{t9n 'dontHaveAnAccount'}} <a href="{{pathFor 'entrySignUp'}}">{{t9n 'signUp'}}</a></p>
        {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
